html {
    padding: 0;
    margin: 0;
}

body {
    border-top: solid 25px #009FC9;
    border-bottom: solid 25px #009FC9;
    border-left: solid 25px #009FC9;
    border-right: solid 25px #009FC9;
}

body div.container-fluid h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: #009FC9;
    ;
    font-weight: bolder;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}

body div#instrucciones {
    text-align: center;
    border: solid 5px #009FC9;
    ;
    border-radius: 5px;
    margin-bottom: 30px;
}

body div#instrucciones h3 {
    font-weight: 700;
}

body div#instrucciones p {
    font-size: 18px;
    font-weight: 500;
}

.container#tablero {
    background-color: black;
    border-radius: 15px;
    margin-bottom: 50px;
}

.cuadro {
    height: 250px;
    transition: opacity 500ms;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cuadro {
    color: gray;
    font-size: 120px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

#cuadro-1 {
    background-color: rgb(0, 128, 0);
}

#cuadro-2 {
    background-color: rgb(255, 0, 0);
}

#cuadro-3 {
    background-color: rgb(255, 255, 0);
}

#cuadro-4 {
    background-color: rgb(0, 0, 255);
}

div#button {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

div#button button#empezar-juego {
    font-size: 22px;
    font-weight: 600;
}